# Composer dependencies
/vendor/

# Environment variables
.env

# Log files
/storage/*.log

# Node.js dependencies (if applicable)
/node_modules/

# IDE-specific files
/.idea/
/.vscode/

# Temporary files
*.bak
*.tmp